$teal: #1FC0DA;
$blue: #008FD5;
$blue-dark: #005C97;
$pink: #E40571;
$purple: #970E76;
$purple-dark: #4F2984;
$yellow: #FFD600;
$orange: #FAA41A;
$orange-dark: #F15D22;
$green-light: #C4D82E;
$green-root: #A2B627;
$green-dark: #23AE49;
$gray: #E9E9EA;
$dark: #58595B;
