@import url('//fonts.googleapis.com/css?family=Bitter:400,700');
@import url('//fonts.googleapis.com/css?family=Libre+Franklin:300,300i,400,400i,500,500i,600,600i,900');
@import url('//hello.myfonts.net/count/3365ba');

@font-face {
  font-family: 'UniNeueRegular';
  src: url('//rootincapps.s3.amazonaws.com/webfonts/3365BA_0_0.eot');
  src: url('//rootincapps.s3.amazonaws.com/webfonts/3365BA_0_0.eot?#iefix') format('embedded-opentype'),
  url('//rootincapps.s3.amazonaws.com/webfonts/3365BA_0_0.woff2') format('woff2'),
  url('//rootincapps.s3.amazonaws.com/webfonts/3365BA_0_0.woff') format('woff'),
  url('//rootincapps.s3.amazonaws.com/webfonts/3365BA_0_0.ttf') format('truetype');
}

$uni: UniNeueRegular, Arial, Helvetica, sans-serif;
$libre:'Libre Franklin', Arial, serif;
$bitter: 'Bitter', serif;

body {
  font-family: $libre;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $uni;
  font-weight: 300;
  text-transform: uppercase;
}
